.code-output{
  width: 100%;
  flex-grow: 1;
}

.code-output::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  
.code-output::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
  margin:5px;
}

.code-output::-webkit-scrollbar-thumb {
  background: #5867EA;
  border-radius: 8px;
}
