
.console-algo-buttons, .console-console-buttons {
    justify-content: start;
}

.output-input {
    scrollbar-width: thin;
    scrollbar-color: #4C5ADF #011627;
  }

  .output-input::-webkit-scrollbar {
    width: 4px;
  }
  
  .output-input::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
  }

  .output-input::-webkit-scrollbar-thumb {
    background: #4C5ADF;
    border-radius: 8px;
  } 


.output-input{
    flex-grow: 1;
}

.main-console{
    width: 100%;
    height: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
}

.output-input{
    flex-grow: 1;
}

@media (min-width: 0px) and (max-width: 1225px) 
{
    .show-buttons {
      display: flex;
      flex-direction: row;
    }
    .console-run-button {
      margin: auto;
    }
    .main-console{
        width: 100%;
        height: 100%;
    }

    .output-input{
        flex-grow: 1;
        height: 150px;
    }

}
  
